.problema{
    grid-area: a1;
    background-color: purple;
    color: gold;
    border-radius: 5px;
}
.datos{
    grid-area: a2;
    background-color: blue;
    border-radius: 5px;
}
.formulas{
    grid-area: a3;
    background-color: rgb(137, 209, 21);
    border-radius: 5px;
}
.calculos{
    grid-area: a4;
    background-color: orangered;
    color: white;
    border-radius: 5px;
}
.resultado{
    grid-area: a5;
    background-color: purple;
    color: white;
    border-radius: 5px;
}

#contenedor{
    display: grid;
    grid-template-columns:  repeat(4, [col] 1fr) ;
    grid-template-rows: auto;
    grid-template-areas: "a1 a1 a1 a1"
                         "a2 a2 a3 a3"
                         "a4 a4 a5 a5";
    width: 100%;
    height: 100%;
}